<div class="container">
    <h3>Lista Vehiculos</h3>
    <div class="table">
        <table>
            <thead>
                <th>id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of listRol">
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>
                      <a class="btn btn-success" href="#">Editar</a>
                      <a class="btn btn-danger" href="#">Eliminar</a>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
